<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowName</key>
	<string>Import Tailscale Hosts</string>
	<key>WFWorkflowClientRelease</key>
	<string>17.0</string>
	<key>WFWorkflowClientVersion</key>
	<string>2306.0.3</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>4282601983</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59795</integer>
	</dict>
	<key>WFWorkflowTypes</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F7BE78A1-A52A-55BD-ABB6-4636A1D681CC</string>
				<key>WFCommentActionText</key>
				<string>Requires Tailscale and iOSSH on this iPhone or iPad. Find Devices uses your current Tailscale account. For each device, prefer MagicDNS Address, then IPv4 Address, then IPv6 Address. iOSSH shows the results for you to select and register; this shortcut does not connect to SSH servers.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>io.tailscale.ipn.ios.DeviceAppEntity</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>43848CFD-CEE9-5459-BDD5-FB0B14E678CB</string>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>ActionRequiresAppInstallation</key>
					<true/>
					<key>AppIntentIdentifier</key>
					<string>DeviceAppEntity</string>
					<key>BundleIdentifier</key>
					<string>io.tailscale.ipn.ios</string>
					<key>Name</key>
					<string>Tailscale</string>
				</dict>
				<key>WFContentItemLimitEnabled</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>E46DD671-91E0-5662-95DB-53C58F86E3A3</string>
				<key>GroupingIdentifier</key>
				<string>1652929D-99D0-5B46-8CDC-C6CF514EEEA6</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputUUID</key>
						<string>43848CFD-CEE9-5459-BDD5-FB0B14E678CB</string>
						<key>OutputName</key>
						<string>Devices</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>5FA05FD9-8119-5C1F-B2ED-E7AB23F9BBDF</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼
￼
￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
										<key>PropertyName</key>
										<string>magicDNSAddress</string>
										<key>PropertyUserInfo</key>
										<dict>
											<key>WFLinkEntityContentPropertyUserInfoPropertyIdentifier</key>
											<string>magicDNSAddress</string>
										</dict>
									</dict>
								</array>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
										<key>PropertyName</key>
										<string>ipv4Address</string>
										<key>PropertyUserInfo</key>
										<dict>
											<key>WFLinkEntityContentPropertyUserInfoPropertyIdentifier</key>
											<string>ipv4Address</string>
										</dict>
									</dict>
								</array>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Repeat Item</string>
								<key>Aggrandizements</key>
								<array>
									<dict>
										<key>Type</key>
										<string>WFPropertyVariableAggrandizement</string>
										<key>PropertyName</key>
										<string>ipv6Address</string>
										<key>PropertyUserInfo</key>
										<dict>
											<key>WFLinkEntityContentPropertyUserInfoPropertyIdentifier</key>
											<string>ipv6Address</string>
										</dict>
									</dict>
								</array>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>24CF1EDE-6CBD-5A19-96B7-4E2B14130B33</string>
				<key>WFReplaceTextFind</key>
				<string>^\s*(\S*)[\s\S]*$</string>
				<key>WFReplaceTextReplace</key>
				<string>$1</string>
				<key>WFReplaceTextRegularExpression</key>
				<true/>
				<key>WFReplaceTextCaseSensitive</key>
				<true/>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputUUID</key>
								<string>5FA05FD9-8119-5C1F-B2ED-E7AB23F9BBDF</string>
								<key>OutputName</key>
								<string>Text</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F54FC722-1E9B-5835-B15E-B832398416B9</string>
				<key>GroupingIdentifier</key>
				<string>1652929D-99D0-5B46-8CDC-C6CF514EEEA6</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>moe.technologies.iossh.ReviewTailscaleHostsIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C48BB9A3-4C17-5C54-8209-24DAABFE698A</string>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>ActionRequiresAppInstallation</key>
					<true/>
					<key>AppIntentIdentifier</key>
					<string>ReviewTailscaleHostsIntent</string>
					<key>BundleIdentifier</key>
					<string>moe.technologies.iossh</string>
					<key>Name</key>
					<string>iOSSH</string>
				</dict>
				<key>hostnames</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputUUID</key>
						<string>F54FC722-1E9B-5835-B15E-B832398416B9</string>
						<key>OutputName</key>
						<string>Repeat Results</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
